  scl-api:
    image: airlance/go:dev
    volumes:
      - ./projects/scl-api:/app
    restart: {{ services_restart_policy }}
    environment:
      DATABASE_URL: postgres://postgres:postgres@scl-postgres:5432/mydb?sslmode=disable
      PORT: 8080
      DOMAINS: api.vsn.localhost
    ports:
      - 5880:8080
    depends_on:
      - scl-postgres