  scl-postgres:
    image: postgres:17
    restart: {{ services_restart_policy }}
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    ports:
      - 5432:5432